// Variables
$black = #000
$white = #fff
$gray-white = #E3E3E3
$blue-medium = #38464f
$blue-lighter = #6a7c89
$blue-light = #7e8e9b
$green = #57a617

// IBM color palette
$ibm-dark = #323232
$ibm-red = #e22319
$ibm-gray = #aeaeae
$ibm-orange = #d74108
$ibm-blue = #2c89ca
$ibm-blue-dark = #264a60
$ibm-light-blue = #7cc7ff

// Graph Color
$hardware-chart = rgb(106, 237, 199);
$media-chart = rgb(57, 194, 201);
$software-chart = rgb(255, 206, 0);
$maintenance-chart = rgb(255, 167, 26);
$infrastructure-chart = rgb(248, 102, 185);
$staff-chart = rgb(153, 140, 227);

