
.range-slider
    position relative
    .slider
        width 100%
        .slider-selection
            background-color: $white
        .slider-track-high
            background-color: $blue-light
        .slider-handle
            background $blue-medium
            border 3px solid $white
        .slider-track
            height 5px
            margin-top -3px
        .tooltip
            display none